body {
  font-family: Arial;
}

.dropdown-menu>li>a{
  white-space: normal;
}

.sidebar-menu i.fas {
  width: 24px;
  margin-right:12px;
}

.app-header {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  margin-bottom:7px;
}