body {
    font-family: Arial;
  }
  
div {
  font-family: Arial;
}

.main-header span.logo {
  font-family: Arial;
}

.navbar-logo {
  content: url(www/images/header-logo.png);
  max-height: 50px;
  width: auto;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: Arial;
}
  
  .dropdown-menu>li>a{
    white-space: normal;
  }
  
  .sidebar-menu i.fas {
    width: 24px;
    margin-right:12px;
  }
  
  .app-header {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom:7px;
  }
  
  .box-header {
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
}